#employees_data {
    width: 70%;
    border-collapse: collapse;
    border: black 2px solid;
    border-radius: 57%;
}

#employees_data th{
    text-align: left;
    border: black 2px solid;
    padding: 5px;
}

#employees_data td {
    padding-left: 5px;
    border: black 2px solid;
}